<ul>
  <iframe data-aa="1853264" src="//acceptable.a-ads.com/1853264" style="border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;" ></iframe>
  {% for item in include.collection %}
    <li>
    {% if item.url != false %}
      <a href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
      {{ item.title }}
    {% endif %}

    {% if item.post_list == true %}
      {% include post_list.html %}
    {% endif %}

    {% if item.entries %}
      {% include vertical_list.html collection=item.entries %}
    {% endif %}
    </li>
  {% endfor %}
</ul>
