name: 'Pages Jekyll'
description: 'A simple GitHub Action for producing Jekyll build artifacts compatible with GitHub Pages'
inputs:
  source:
    description: 'Directory where the source files reside.'
    required: false
    default: ./
  destination:
    description: 'Output directory of the build. Although it can be nested inside the source, it cannot be the same as the source directory.'
    required: false
    default: ./_site
  future:
    description: 'Publishes posts with a future date. When set to true, the build is made with the --future option which overrides the future option that may be set in a Jekyll configuration file.'
    required: false
    default: false
  build_revision:
    description: 'The SHA-1 of the git commit for which the build is running. Default to GITHUB_SHA.'
    required: false
    default: ${{ github.sha }}
  verbose:
    description: 'Verbose output'
    required: false
    default: true
  token:
    description: 'GitHub token'
    required: true
    default: ${{ github.token }}
runs:
  using: 'docker'
  image: 'docker://ghcr.io/actions/jekyll-build-pages:v1.0.3'

on: [push]
jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: Build and deploy site
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy
        uses: wlixcc/SFTP-Deploy-Action@v1.0
        with:
          username: '${{ secrets.SERVER_USERNAME }}'
          server: '${{ secrets.SERVER_IP }}'
          ssh_private_key: '${{ secrets.SSH_PRIVATE_KEY }}'
          local_path: '${{ secrets.LOCAL_PATH }}'
          remote_path: '${{ secrets.SERVER_PATH }}'
          args: '-o ConnectTimeout=5'
